<center>
<img src="https://mlcourse.ai/_images/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# Анализ данных | Python 

*Автор: Татьяна Рогович, НИУ ВШЭ*

### Анализ данных в Pandas. Упражнения
    
Данные содержат следующие признаки:

* `ID` - Unique number for each athlete
* `Name` - Athlete's name
* `Sex` - M or F
* `Age` - Integer
* `Height` - In centimeters
* `Weight` - In kilograms
* `Team` - Team name
* `NOC` - National Olympic Committee 3-letter code
* `Games` - Year and season
* `Year` - Integer
* `Season` - Summer or Winter
* `City` - Host city
* `Sport` - Sport
* `Event` - Event
* `Medal` - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/rogovich/Data/master/data/olympics/athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

*Hint:* возможно, в некоторых случаях нужно избавиться от дубликатов, чтобы учитывать одного атлета только один раз. Ниже пример как это сделать. Например, удалим все дубликаты атлетов.

In [4]:
display(data.shape[0])
display(data.drop_duplicates('Name').shape[0])

271116

134732

Можно удалять полные дубликаты, а можно дубликаты по нескольким колонкам (например, удалять не все дубликаты атлетов, а оставлять одно упоминание атлета для каждых игр)

In [5]:
display(data.shape[0]) # всего атлетов

# всего атлетов, если не учитывать записи с одинаковым именем для одинаковых игр
display(data.drop_duplicates(['Name', 'Games']).shape[0]) 

# всего атлетов, если не учитывать дубликаты по имени, росту и возрасту
display(data.drop_duplicates(['Name', 'Age', 'Height']).shape[0])

271116

187297

187059

Обратите внимание, что данный метод не перезаписывает данные, поэтому, чтобы сохранить измененный датафрейм, нужно записать его в переменную.

**1. Сколько лет было самым молодым участникам (мужчина и женщина) олимпийских игр в 1992 году?**

In [6]:
data[(data['Year'] == 1992) & (data['Sex'] == 'M')]['Age']

0         24.0
10        31.0
11        31.0
12        31.0
13        31.0
          ...
270892    26.0
270960    20.0
271015    25.0
271035    25.0
271048    27.0
Name: Age, Length: 11235, dtype: float64

In [7]:
data[(data['Year'] == 1992) & (data['Sex'] == 'F')]['Age']

6         25.0
7         25.0
578       21.0
735       38.0
899       27.0
          ...
270975    21.0
270976    21.0
271001    17.0
271002    17.0
271027    24.0
Name: Age, Length: 5178, dtype: float64

__2. Какую пропорцию составляют мужчины-баскетболисты среди всех участников игр 2012 года. Округлите ответ до двух знаков.__

In [8]:
# You code here
all_athletes = len(data[(data['Year'] == 2012)].drop_duplicates(['Name', 'Age', 'Height']))

In [9]:
for x in data['Event'].unique():
    if 'basketball' in x.lower():
        print(x)

Basketball Men's Basketball
Basketball Women's Basketball

In [10]:
basket_athletes = len(data[(data['Year'] == 2012) & (data['Event'] == "Basketball Men's Basketball")])

In [11]:
round(basket_athletes/all_athletes, 2)

0.01

__3. Выведите названия всех уникальных дисциплин, связанных с катанием на коньках (Skating). Посчитайте их количество__

In [12]:
data[data['Event'].str.contains("Skating")]['Event'].unique()

array(["Speed Skating Women's 500 metres",
       "Speed Skating Women's 1,000 metres",
       "Speed Skating Men's 500 metres",
       "Speed Skating Men's 1,500 metres",
       "Speed Skating Men's 5,000 metres",
       "Speed Skating Men's 10,000 metres",
       "Figure Skating Men's Singles", 'Figure Skating Mixed Team',
       'Figure Skating Mixed Pairs', "Speed Skating Women's 1,500 metres",
       "Speed Skating Women's Team Pursuit (6 laps)",
       "Figure Skating Women's Singles",
       "Speed Skating Men's 1,000 metres",
       'Figure Skating Mixed Ice Dancing',
       "Short Track Speed Skating Men's 5,000 metres Relay",
       "Speed Skating Women's 3,000 metres",
       "Short Track Speed Skating Women's 3,000 metres Relay",
       "Short Track Speed Skating Men's 500 metres",
       "Short Track Speed Skating Men's 1,000 metres",
       "Short Track Speed Skating Men's 1,500 metres",
       "Speed Skating Men's Team Pursuit (8 laps)",
       "Speed Skating Women's 5,000 metres",
       "Short Track Speed Skating Women's 500 metres",
       "Short Track Speed Skating Women's 1,000 metres",
       "Short Track Speed Skating Women's 1,500 metres",
       "Speed Skating Men's Allround",
       "Figure Skating Men's Special Figures"], dtype=object)

__4. В скольких олимпиадах принимал участие John Aalberg?__

In [13]:
len(data[data['Name'] == 'John Aalberg']['Year'].unique())

2

__5. Сколько золотых медалей настольном теннисе выиграл Китай на Олимпиаде в 2008 году?__

In [16]:
len(data[(data['Event'].str.contains("Table")) & (data['Year'] == 2008) & \
         (data['Team'] == 'China') & (data['Medal'] == 'Gold')])

8

__6. Правда ли, что Испания выиграла меньше медалей чем Италия на играх 2016 года? Ну учитывайте NaN в колонке _Medal_.__

In [15]:
len(data[(data['Team'] == 'Spain') & (data['Year'] == 2016)].dropna(subset = ['Medal'])) < \
len(data[(data['Team'] == 'Italy') & (data['Year'] == 2016)].dropna(subset = ['Medal']))

True

__7*. Найдите самую многочисленную и самую малочисленную группу по возрасту среди всех участников игр (разбейте возраст по 10 лет).__

In [17]:
data['Age_bins'] = pd.cut(data['Age'], range(10,101, 10))

In [18]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Age_bins
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,"(20, 30]"
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,"(20, 30]"
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,"(20, 30]"
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,"(30, 40]"
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,"(20, 30]"

In [19]:
data['Age_bins'].value_counts()

(20, 30]     171974
(10, 20]      47560
(30, 40]      34406
(40, 50]       5763
(50, 60]       1368
(60, 70]        469
(70, 80]         93
(80, 90]          6
(90, 100]         2
Name: Age_bins, dtype: int64

In [20]:
data['Age_bins'].value_counts().head(1)

(20, 30]    171974
Name: Age_bins, dtype: int64

__8. Проводились ли летние олимпийские игры в Atlanta? А зимние в Squaw Valley? Верните True или False__

In [21]:
'Summer' in data[data['City'] == 'Atlanta']['Season'].unique()

True

In [22]:
'Winter' in data[data['City'] == 'Squaw Valley']['Season'].unique()

True

__9. Найдите, в каких годах проводились соревнования по керлингу__

In [23]:
data[(data['Event'].str.contains("Curling"))]['Year'].unique()

array([2006, 2014, 1924, 1998, 2010, 2002])

__10. Выведете всех уникальных спортсменов с фамилией Belov и посчитайте их количество.__

In [24]:
data[data['Name'].str.contains('Belov')].drop_duplicates(['Name', 'Height', 'Weight'])[data['Sex'] == 'M']

/var/folders/l5/wdnv8y_12csg_k3v_rvjb_dm0000gn/T/ipykernel_37014/275420720.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['Name'].str.contains('Belov')].drop_duplicates(['Name', 'Height', 'Weight'])[data['Sex'] == 'M']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Age_bins
18470,9779,Aleksandr Aleksandrovich Belov,M,20.0,200.0,100.0,Soviet Union,URS,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,Gold,"(10, 20]"
18472,9780,Aleksandr Belov,M,20.0,182.0,60.0,Russia,RUS,2002 Winter,2002,Winter,Salt Lake City,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,"(10, 20]"
18474,9781,Anton Sergeyevich Belov,M,27.0,192.0,92.0,Russia,RUS,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN,"(20, 30]"
18475,9782,Nikolay Grigoryevich Belov,M,32.0,NaN,NaN,Soviet Union,URS,1952 Summer,1952,Summer,Helsinki,Wrestling,"Wrestling Men's Middleweight, Greco-Roman",Bronze,"(30, 40]"
18476,9783,Sergey Aleksandrovich Belov,M,24.0,190.0,82.0,Soviet Union,URS,1968 Summer,1968,Summer,Mexico City,Basketball,Basketball Men's Basketball,Bronze,"(20, 30]"
18480,9784,Vladimir Borisovich Belov,M,22.0,195.0,92.0,Soviet Union,URS,1980 Summer,1980,Summer,Moskva,Handball,Handball Men's Handball,Silver,"(20, 30]"
18481,9785,Yevgeny Nikolayevich Belov,M,23.0,185.0,78.0,Russia,RUS,2014 Winter,2014,Winter,Sochi,Cross Country Skiing,Cross Country Skiing Men's 15 kilometres,NaN,"(20, 30]"
18483,9786,Yury Vladimirovich Belov,M,23.0,183.0,120.0,Belarus,BLR,2004 Summer,2004,Summer,Athina,Athletics,Athletics Men's Shot Put,NaN,"(20, 30]"

__11. Выведите количество уникальных дисциплин, которые проводятся только среди мужчин, среди женщин и смешанные дисциплины (Mixed).__

In [26]:
len(data[data['Event'].str.contains('Men')]['Event'].unique())

464

In [27]:
len(data[data['Event'].str.contains('Women')]['Event'].unique())

211

In [28]:
len(data[data['Event'].str.contains('Mixed')]['Event'].unique())

91

__12. Какая страна завоевала больше всех медалей в Figure Skating за всю историю__.

In [25]:
data[data['Event'].str.contains('Figure Skating')].groupby('Medal')['NOC'].value_counts()['Gold']

NOC
RUS    32
URS    20
USA    16
AUT     9
CAN     7
GER     7
FRA     6
GBR     6
EUN     5
SWE     5
GDR     3
NOR     3
BEL     2
CHN     2
FIN     2
JPN     2
KOR     1
NED     1
TCH     1
UKR     1
Name: NOC, dtype: int64