<center>
<img src="https://mlcourse.ai/_images/ods_stickers.jpg" />
    
## [mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko) and Vadim Shestopalov (@vchulski). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

# Анализ данных | Python 

*Автор: Татьяна Рогович, НИУ ВШЭ*

### Анализ данных в Pandas. Упражнения
    
Данные содержат следующие признаки:

* `ID` - Unique number for each athlete
* `Name` - Athlete's name
* `Sex` - M or F
* `Age` - Integer
* `Height` - In centimeters
* `Weight` - In kilograms
* `Team` - Team name
* `NOC` - National Olympic Committee 3-letter code
* `Games` - Year and season
* `Year` - Integer
* `Season` - Summer or Winter
* `City` - Host city
* `Sport` - Sport
* `Event` - Event
* `Medal` - Gold, Silver, Bronze, or NA

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/rogovich/Data/master/data/olympics/athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

*Hint:* возможно, в некоторых случаях нужно избавиться от дубликатов, чтобы учитывать одного атлета только один раз. Ниже пример как это сделать. Например, удалим все дубликаты атлетов.

In [4]:
display(data.shape[0])
display(data.drop_duplicates('Name').shape[0])

271116

134732

Можно удалять полные дубликаты, а можно дубликаты по нескольким колонкам (например, удалять не все дубликаты атлетов, а оставлять одно упоминание атлета для каждых игр)

In [5]:
display(data.shape[0]) # всего атлетов

# всего атлетов, если не учитывать записи с одинаковым именем для одинаковых игр
display(data.drop_duplicates(['Name', 'Games']).shape[0]) 

# всего атлетов, если не учитывать дубликаты по имени, росту и возрасту
display(data.drop_duplicates(['Name', 'Age', 'Height']).shape[0])

271116

187297

187059

Обратите внимание, что данный метод не перезаписывает данные, поэтому, чтобы сохранить измененный датафрейм, нужно записать его в переменную.

**1. Сколько лет было самым молодым участникам (мужчина и женщина) олимпийских игр в 1992 году?**

__2. Какую пропорцию составляют мужчины-баскетболисты среди всех участников игр 2012 года. Округлите ответ до двух знаков.__

__3. Выведите названия всех уникальных дисциплин, связанных с катанием на коньках (Skating). Посчитайте их количество__

__4. В скольких олимпиадах принимал участие John Aalberg?__

__5. Сколько золотых медалей настольном теннисе выиграл Китай на Олимпиаде в 2008 году?__

__6. Правда ли, что Испания выиграла меньше медалей чем Италия на играх 2016 года? Ну учитывайте NaN в колонке _Medal_.__

__7*. Найдите самую многочисленную и самую малочисленную группу по возрасту среди всех участников игр (разбейте возраст по 10 лет).__

__8. Проводились ли летние олимпийские игры в Atlanta? А зимние в Squaw Valley? Верните True или False__

__9. Найдите, в каких годах проводились соревнования по керлингу__

__10. Выведете всех уникальных спортсменов с фамилией Belov и посчитайте их количество.__

__11. Выведите количество уникальных дисциплин, которые проводятся только среди мужчин, среди женщин и смешанные дисциплины (Mixed).__

__12. Какая страна завоевала больше всех медалей в Figure Skating за всю историю__.